.login--container {
    font-family: $rubik;
    background-color: $bkg-color;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 5rem;
}

#header {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
        width: 100%;
        height: 100%;
    }
    #title {
        color: $white;
        font-size: 4rem;
    }
}

#main {
    width: 300px;
    height: 300px;
    margin: 5rem auto;

    #form {
        margin-top: 40px;

        ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: rgb(136, 137, 140);
        }
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgb(136, 137, 140);
            opacity: 1;
        }
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgb(136, 137, 140);
            opacity: 1;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: rgb(136, 137, 140);
        }

        button {
            width: 290px;
            height: 25px;
            background-color: rgba(46, 47, 51, 0.75);
            border-radius: 3px;
            padding-left: 10px;
            color: rgb(136, 137, 140);
            font-size: 12px;
            outline: none;
            border: none;
            margin-top: 15px;
            &:focus {
                background-color: rgb(60, 60, 60);
            }
        }

        h5 {
            color: rgb(136, 137, 140);
            font-size: 14px;
            margin-top: 10px;
            float: left;
        }


       button {
            clear: both;
            display: block;
            margin: 50px auto;
            width: 180px;
            height: 50px;
            outline: none;
            border: none;
            background-color: rgb(122, 189, 0);
            border-radius: 30px;
            color: RGBA(231, 252, 255, 1);
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
        }
    } //form
} //#main

#footer {
    text-align: center;
    display: block;
    margin-top: 120px;
    color: rgba(231, 252, 255, 0.6);
    text-transform: uppercase;
    font-size: 13px;

    a {
        text-decoration: none;
        color: inherit;
        display: block;
        margin-top: 5px;
    }
}

@-webkit-keyframes deformation {
    0% {
        width: 20px;
    }
    20% {
        width: 25px;
    }
    40% {
        width: 30px;
    }
    80% {
        width: 25px;
    }
    100% {
        width: 20px;
    }
}
